@{
    ViewBag.Title = "Amenities";
    ViewBag.HasHeaderCarousel = false;
    ViewBag.ActiveHeader = "Amenities";
}

<div class="container main-content">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Cabin Amenities</h2>
                </div>
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul>
                                <li>Comfortably sleeps 4-6</li>
                                <li>New kitchen appliances</li>
                                <li>TV</li>
                                <li>One full bath, one half bath</li>
                                <li>Gas stove</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Nearby Activities</h2>
                </div>
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul>
                                <li>Salmon River Fish Hatchery</li>
                                <li>Salmon River fishing access across the street</li>
                                <li>Nearby snowmobile trails</li>
                                <li>Hiking trails</li>
                                <li>ATV trails</li>
                                <li>Skiing trails</li>
                                <li>Altmar, New York</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Dining</h2>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul>
                                <li>Tailwater Restaurant | Fine Dining</li>
                                <li>Home Town Diner</li>
                                <li>Get Along Little Doggy</li>
                                <li>Mapleview Family Restaurant</li>
                                <li>RiverHouse Restaurant</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul>
                                <li>No pets</li>
                                <li>Non-smoking</li>
                                <li>Cabin built in Summer of 2016</li>
                                <li>Full kitchen</li>
                                <li>1100 square feet</li>
                                <li>Sleeps 4-6</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>