@{
    ViewBag.Title = "Photo Gallery";
    ViewBag.ActiveHeader = "Photos";
}

@section scripts {
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="/scripts/bootstrap-image-gallery.min.js"></script>
}

@section styles {
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/Content/bootstrap-image-gallery.min.css">
    <style type="text/css">
        .indicator {
            display: block !important;
        }
    </style>
}

<div class="container main-content">
    <h2>Photos</h2>

    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="links">
        <a href="~/Content/images/gallery/waterfall.jpg" title="Waterfall" data-gallery>
            <img src="~/Content/images/gallery/waterfall.jpg?h=100&w=100&mode=crop" alt="Waterfall">
        </a>
        <a href="~/Content/images/gallery/water.jpg" title="Water" data-gallery>
            <img src="~/Content/images/gallery/water.jpg?h=100&w=100&mode=crop" alt="Water">
        </a>
        <a href="~/Content/images/gallery/snowmobile.jpg" title="Snowmobiling Trails" data-gallery>
            <img src="~/Content/images/gallery/snowmobile.jpg?h=100&w=100&mode=crop" alt="Snowmobiling Trails">
        </a>
        <a href="~/Content/images/gallery/salmon-river-fish-hatchery.JPG" title="Salmon River Fish Hatchery" data-gallery>
            <img src="~/Content/images/gallery/salmon-river-fish-hatchery.jpg?h=100&w=100&mode=crop" alt="Salmon River Fish Hatchery">
        </a>

        <a href="~/Content/images/gallery/nature.JPG" title="Scenic nature views" data-gallery>
            <img src="~/Content/images/gallery/nature.jpg?h=100&w=100&mode=crop" alt="Scenic nature views">
        </a>
        <a href="~/Content/images/gallery/upper-fly-fishing.JPG" title="Just down the road from the cabin" data-gallery>
            <img src="~/Content/images/gallery/upper-fly-fishing.jpg?h=100&w=100&mode=crop" alt="Upper Fly Fishing Section">
        </a>
        <a href="~/Content/images/gallery/fish-size.JPG" title="Named one of the top sportfishing destinations in the state of New York." data-gallery>
            <img src="~/Content/images/gallery/fish-size.jpg?h=100&w=100&mode=crop" alt="Named one of the top sportfishing destinations in the state of New York.">
        </a>

        <a href="~/Content/images/gallery/image9.JPG" title="" data-gallery>
            <img src="~/Content/images/gallery/image9.JPG?h=100&w=100&mode=crop" alt="">
        </a>
        <a href="~/Content/images/gallery/image10.JPG?autorotate=true" title="" data-gallery>
            <img src="~/Content/images/gallery/image10.JPG?h=100&w=100&mode=crop&autorotate=true" alt="">
        </a>



    </div>
</div>