@model SalmonRiver.TransactionLog

@{
    ViewBag.Title = "Successfully Booked";
}

@section scripts{

}

@section styles {

}

    <div class="container main-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-success" role="alert">
                    Your stay at the Head Waters Cabins at Salmon River was successfully booked. You should receive an email with further information within the next 24 hours. If you do not receive 
                    an email, please contact us.
                </div>
            </div>
        </div>
    </div>